@model Entities.Dto.ProfileModel.InstructorProfile


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/plugins/select2/select2.full.min.js"></script>
<script src="~/assets/js/select2.js"></script>
@using (Html.BeginForm("Profile", "Instructor", FormMethod.Post))
{

    <div class="card border-0 shadow-none mb-0">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Ad</label>
                        @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control", placeholder = "Ad" })
                        @Html.ValidationMessageFor(e => e.FirstName,"",new { @style="color:red" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Soyad</label>
                        @Html.TextBoxFor(e => e.LastName, new { @class = "form-control", placeholder = "Soyad" })
                        @Html.ValidationMessageFor(e => e.LastName,"",new { @style="color:red" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">E-Posta</label>
                        @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "E-Posta" })
                        @Html.ValidationMessageFor(e => e.Email,"",new { @style="color:red" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Telefon</label>
                        @Html.TextBoxFor(e => e.PhoneNumber, new { @class = "form-control", placeholder = "Telefon Numarası" })
                        @Html.ValidationMessageFor(e => e.PhoneNumber,"",new { @style="color:red" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Şehir</label>
                        @Html.TextBoxFor(e => e.City, new { @class = "form-control", placeholder = "Şehir" })
                        @Html.ValidationMessageFor(e => e.City,"",new { @style="color:red" })
                    </div>
                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Ülke</label>
                        <select class="form-control select2-show-search border-bottom-0 w-100 select2-show-search select2-hidden-accessible" data-placeholder="Select" data-select2-id="9" tabindex="-1" aria-hidden="true" name="Country" id="Country">
                            <optgroup label="Ülke" data-select2-id="26">

                                <option value="0" data-select2-id="27">Türkiye</option>
                                <option value="1" data-select2-id="28">Germany</option>
                                <option value="2" data-select2-id="29">Real Estate</option>
                                <option value="3" data-select2-id="30">Canada</option>
                                <option value="4" data-select2-id="31" selected="">Usa</option>
                                <option value="5" data-select2-id="32">Afghanistan</option>
                                <option value="6" data-select2-id="33">Albania</option>
                                <option value="7" data-select2-id="34">China</option>
                                <option value="8" data-select2-id="35">Denmark</option>
                                <option value="9" data-select2-id="36">Finland</option>
                                <option value="10" data-select2-id="37">India</option>
                                <option value="11" data-select2-id="38">Kiribati</option>
                                <option value="12" data-select2-id="39">Kuwait</option>
                                <option value="13" data-select2-id="40">Mexico</option>
                                <option value="14" data-select2-id="41">Pakistan</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Facebook</label>
                        @Html.TextBoxFor(e => e.Facebook, new { @class = "form-control", placeholder = "https://www.facebook.com/" })
                        @Html.ValidationMessageFor(e => e.Facebook,"",new { @style="color:red" })
                       
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Google</label>
                       
                        @Html.TextBoxFor(e => e.Google, new { @class = "form-control", placeholder = "https://www.google.com/" })
                        @Html.ValidationMessageFor(e => e.Google,"",new { @style="color:red" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Twitter</label>
                      
                        @Html.TextBoxFor(e => e.Twitter, new { @class = "form-control", placeholder = "https://twitter.com/" })
                        @Html.ValidationMessageFor(e => e.Twitter,"",new { @style="color:red" })
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="form-label">Web</label>
                        @Html.TextBoxFor(e => e.Web, new { @class = "form-control", placeholder = "https://www." })
                        @Html.ValidationMessageFor(e => e.Web,"",new { @style="color:red" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Diller</label>
                        <select class="form-control select2" data-placeholder="Choose Browser" name="Languages" id="Languages" multiple>
                            <option value="TR">
                                Türkçe
                            </option>
                            <option value="EN selected">
                                İngilizce
                            </option>
                            <option value="GER">
                                Almanca
                            </option>
                            <option selected value="ITA">
                                Italyanca
                            </option>
                            <option value="FR">
                                Fransızca
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="form-label">Hakkımda</label>
                        @Html.TextAreaFor(e=>e.About , new {@class="form-control",rows="5",placeholder="Açıklama"})
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-group file-browser">
                        <input type="text" class="form-control border-end-0 browse-file valid" placeholder="Upload Images" readonly="" aria-invalid="false" value="colorful-logo-icons.png">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse <input type="file" style="display: none;" multiple="">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer border-top-0">
            <button type="submit" class="btn btn-primary">Updated Profile</button>
        </div>
    </div>




}

